port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
mode: rule
log-level: silent
allow-lan: true
external-controller: 0.0.0.0:9090
secret: ""
bind-address: "*"
unified-delay: true
tun:
  enable: true
  stack: system
  auto-route: false
  auto-detect-interface: false
  dns-hijack:
    - tcp://8.8.8.8:53
    - tcp://8.8.4.4:53
profile:
  store-selected: true
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  fake-ip-range: 198.18.0.1/16
  listen: 127.0.0.1:7874
  fake-ip-filter:
  - "+.*"
  nameserver:
    - 8.8.8.8
    - 1.0.0.1
    - https://dns.adguard.com/dns-query
    - https://dns.google/dns-query
    - tls://dns.adguard.com
    - tls://dns-google.com/
  fallback:
    - 1.1.1.1
    - 8.8.4.4
    - https://cloudflare-dns.com/dns-query
    - 112.215.203.254
  default-nameserver:
    - 8.8.8.8
    - 1.1.1.1
    - 112.215.203.254
#
proxy-providers:
  Satu:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/providers/akun1.yaml
    path: "./akun1.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
  Dua:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/providers/akun2.yaml
    path: "./akun2.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
  Tiga:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/providers/akun3.yaml
    path: "./akun3.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
#
  Empat:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/providers/akun4.yaml
    path: "./akun4.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
  Lima:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/providers/akun5.yaml
    path: "./akun5.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
#
proxy-groups:
  - name: CLASH
    type: select
    disable-udp: false
    use:
      - Satu
      - Dua
      - Tiga
      - Empat
      - Lima
    proxies:
      - AUTO
      - FALLBACK
      - BALANCED
      - DIRECT
      - REJECT
#
  - name: AUTO
    type: url-test
    disable-udp: false
    use:
      - Satu
      - Dua
      - Tiga
    interval: 300
    tolerance: 50
    url: http://www.gstatic.com/generate_204
#
  - name: FALLBACK
    type: fallback
    disable-udp: false
    use:
      - Satu
      - Dua
      - Tiga
    interval: 300
    lazy: false
    url: http://www.gstatic.com/generate_204
#
  - name: BALANCED
    type: load-balance
    strategy: consistent-hashing
    disable-udp: false
    use:
      - Satu
      - Dua
      - Tiga
    interval: 300
    url: http://www.gstatic.com/generate_204
#
  - name: STR
    type: load-balance
    strategy: consistent-hashing
    disable-udp: false
    use:
      - Empat
      - Lima
    interval: 300
    url: http://www.gstatic.com/generate_204
#
  - name: LANGSUNG
    type: select
    disable-udp: false
    proxies:
      - DIRECT
      - CLASH
    interval: 300
    url: http://www.gstatic.com/generate_204
#
  - name: TOLAK
    type: select
    disable-udp: false
    proxies:
      - REJECT
      - CLASH
    interval: 300
    url: http://www.gstatic.com/generate_204
#
rule-providers:
  Direct:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/direct.yaml
    behavior: classical
    path: "./direct.yaml"
  Reject:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/reject.yaml
    behavior: classical
    path: "./reject.yaml"
  Sosmed:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/sosmed.yaml
    behavior: classical
    path: "./sosmed.yaml"
  Streaming:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/streaming.yaml
    behavior: classical
    path: "./streaming.yaml"
  Youtube:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/youtube.yaml
    behavior: classical
    path: "./youtube.yaml"
  Umum:
    type: http
    url: https://raw.githubusercontent.com/rizalaliakbar/cfa/main/tsel%20ilmupedia1/rules/umum.yaml
    behavior: classical
    path: "./umum.yaml"
#
rules:
  - IP-CIDR,198.18.0.1/16,REJECT,no-resolve
  - RULE-SET,Direct,LANGSUNG
  - RULE-SET,Reject,TOLAK
  - RULE-SET,Sosmed,STR
  - RULE-SET,Streaming,STR
  - RULE-SET,Youtube,STR
  - RULE-SET,Umum,CLASH
  - MATCH,CLASH